h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: blanchedalmond;
}

h2 {
    background-color: green;
}

h3 {
    background-color: yellowgreen;
}

p {
    background-color: blanchedalmond;
}

ol {
    background-color: blueviolet;
}

ul {
    background-color: pink;
}